:root {
	--white-color: #fff;
	--black-color: #000;
	--dark-gray-color: #0b0e13;
	--dark-gray-color-2: #364153;
	--gray-color: #a8abb1;
  --gray-color-2: #d1d6dc;
	--gray-color-3:#1A1A1A;
	--primary-color: #cbfe1c;
}

body {
	background-color: var(--dark-gray-color);
	color: var(--white-color);
}

/*Static Style*/

.primary-color-bg {
  background-color: var(--primary-color);
}

.primary-color-text {
  color: var(--primary-color);
}


.dark-gray-color-bg {
  background-color: var(--dark-gray-color);
}

.dark-gray-color-text {
  color: var(--dark-gray-color);
}

/*Fonts*/
@font-face {
	font-family: "bold";
	src: url("../Chakra_Petch,Days_One/ChakraPetch-Bold.ttf");
	font-display: swap;
}

@font-face {
	font-family: "medium";
	src: url("../Chakra_Petch,Days_One/ChakraPetch-Medium.ttf");
	font-display: swap;
}

@font-face {
	font-family: "regular";
	src: url("../Chakra_Petch,Days_One/ChakraPetch-Regular.ttf");
	font-display: swap;
}

@font-face {
	font-family: "light";
	src: url("../Chakra_Petch,Days_One/ChakraPetch-Light.ttf");
	font-display: swap;
}

@font-face {
	font-family: "semi-bold";
	src: url("../Chakra_Petch,Days_One/ChakraPetch-SemiBold.ttf");
	font-display: swap;
}

@font-face {
	font-family: "days-one-regular";
	src: url("../Chakra_Petch,Days_One/DaysOne-Regular.ttf");
	font-display: swap;
}